.app {
  container-type: size;
}

.main {
  .directions-container {
    box-sizing: border-box;

    width: fit-content;
    background-color: white;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    .stops-area {
      --gap: 20px;

      box-sizing: border-box;
      padding: var(--gap) var(--gap) 0;

      display: grid;
      gap: var(--gap);

      .stops {
        width: 100%;
        display: grid;
        gap: var(--gap);

        .stop-container {
          position: relative;

          min-height: 25px;

          border-radius: 5px;
          outline: solid 1px lightgray;
          &:has(.stop:focus-visible) {
            outline: solid black;
          }
          z-index: 1;

          .stop-parent {
            position: relative;

            height: fit-content;
            width: 100%;
            
            // display: grid;
            // grid-template-rows: 1fr 20px;

            // align-items: center;
            // gap: 10px;
            
            .stop {
              box-sizing: border-box;
              padding: 5px 0 5px 5px;

              height: auto;
              max-width: calc(100% - (10 + 25)*1px);

              background-color: inherit;

              border: none;
              outline: none;
            }
            .close {
              position: absolute;
              right: 0;

              box-sizing: border-box;

              margin: 2.5px 2.5px 2.5px 10px;

              height: calc(100% - 5px);
              aspect-ratio: 1;

              background: none;
              color: inherit;
              border: none;
              padding: 0;
              font-family: inherit;
              cursor: pointer;
              outline: none;
            
              border-radius: 50%;

              &:focus-visible {
                outline: solid 2px black;
              }

              img {
                height: 100%;
                aspect-ratio: 1;
              }
            }

            &:not(:has(:focus)) + .options {
              display: none;
            }
          }
          .options {
            background-color: white;

            &:not(:empty) {
              border-top: solid black;
            }

            z-index: 100;

            .option {
              box-sizing: border-box;
              padding: 5px 0 5px 5px;

              height: calc(100% / var(--options-amt, 1));
              width: 100%;
            }
          }
        }
      }
      :is(.stops .stop-container, .stop-toolbar) {
        width: 100%;
      }
      .stop-toolbar {
        height: 25px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: var(--gap);
      }
    }

    #directions {
      flex: 1;
      width: fit-content;
      // height: 100%;
      // width: 100%;
    }
  }
}

@container (max-width: 915px) {
  .main {
    flex-direction: column-reverse;
    .directions-container {
      flex: 1;
    }
  }
}