.app {
  container-type: size;
}

.main {
  .directions-container {
    box-sizing: border-box;

    width: fit-content;
    background-color: white;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    .stops-area {
      --gap: 20px;

      box-sizing: border-box;
      padding: var(--gap) var(--gap) 0;

      display: grid;
      gap: var(--gap);

      .stops {
        width: 100%;
        display: grid;
        gap: var(--gap);

        .stop-parent {
          position: relative;
          isolation: isolate;
          z-index: 1;
          
          .stop {
            position: absolute;
            inset: 0;
            z-index: -1;
          }
          .options {
            position: absolute;
            top: 100%;
            box-shadow: 0 0 10px;
          }
        }
      }
      :is(.stops .stop-parent, .stop-toolbar) {
        height: 25px;
        width: 100%;
      }
      .stop-toolbar {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: var(--gap);
      }
    }

    #directions {
      flex: 1;
      width: fit-content;
      // height: 100%;
      // width: 100%;
    }
  }
}

@container (max-width: 915px) {
  .main {
    flex-direction: column-reverse;
    .directions-container {
      flex: 1;
    }
  }
}