.main {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.main > * {
  margin-inline: auto;
}

.logo {
  display: block;
  max-width: 450px;
}

.form {
  width: 100%;
  display: grid;
  gap: 2rem;
  &, & > * {
    max-width: 450px;
  }
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn {
  width: 36vw;
  aspect-ratio: 4 / 1;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 1px black;
  font-size: 0.9lh;
}