.main {
    display: flex;
}

#myMap {
    flex: 1;
    width: 100%;
    height: 100%;
}

:has( > .InfoboxCustom > .infobox-body > * > .infobox) {
    bottom: 10px !important;
    right: 10px !important;
}

.infobox {
    position: absolute;

    padding: 10px;

    background-color: #fff7;
    color: black;

    border-radius: 10px;
    
    .title {
        font-weight: bold;
    }
}