html {
  container-type: size;
}

.main {
  --columns: 1fr 2fr;
  .directions-container {
    #directions {
      height: 100%;
      width: 100%;
    }
  }
}

@container (max-width: 915px) {
  .main {
    --columns: 1fr;
    --rows: 1fr 1fr;
    .directions-container {
      grid-row: 1 / 2;
    }
  }
}