html {
  container-type: size;
}

.main {
  display: grid;
  #myMap {
    width: 75%;
  }
  .directions-container {
    width: 25%;
    #directions {
      height: 100%;
      width: 100%;
    }
  }
}

@container (max-width: 915px) {
  .main * {
    height: 50%;
  }
}