html {
  background-color: black;
}

body {
  margin: 0;
  width: fit-content;
  max-width: 100%;
  min-height: calc(100dvh - 0.5in);
  margin: 0.25in auto;
  aspect-ratio: 9 / 16;
  display: flex;
  flex-direction: column;
}

#app {
  --bg: #3d85c6ff;
  flex: 1;
  box-sizing: border-box;
  border: solid white;
  border-radius: 25px;
  width: 100%;
  background-color: var(--bg);
  box-shadow: white 0 0 0.25in;

  /* background-image: url('bg.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat  ;
}