.menu, .notifications {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

:is(.menu, .notifications) item {
  --p-i: 5rem;
  --s-w: calc(100% - var(--p-i)*2) - 3px;

  height: 14rem;
  width: var(--s-w);
  
  padding-inline: var(--p-i);
  
  background-color: black;
  color: white;

  border-radius: 10px;
  border: solid 3px white;
  outline: none;
  
  display: flex;
  gap: var(--p-i);
  align-items: center;

  cursor: pointer;
}

.notifications item {
  padding-left: calc(var(--p-i)/2);
  .icon {
    height: calc(100% - var(--p-i));
    aspect-ratio: 1;
  }
  & item-content {
    padding-inline: var(--p-i);
    flex: 1;
  }
}