:root {
  color: white;
  background-color: #3d85c6ff;
  font-family: 'Open Sans', sans-serif;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

[hidden] {
  display: none !important;
}

[onclick] {
  cursor: pointer;
}

.app {
  --areas-h: 0.61in;
  --separ-h: 2px;
  height: 100dvh;
  display: grid;
  grid-template-rows: var(--areas-h) var(--separ-h) 1fr var(--separ-h) var(--areas-h);
  grid-template-columns: 1fr;
}

.separator {
  height: var(--separ-h);
  background-color: white;
}

.header {
  margin-inline: 15pt;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  font-size: 20pt;
}

.nav {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav .link {
  flex: 1;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.nav .link .icon {
  height: 25pt;
  aspect-ratio: 1;
}

.footer {
  isolation: isolate;
  position: relative;
  &::after {
    content: '© 2024' attr(current-year) ' ' attr(site-title);
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    text-align: center;
    z-index: -1;
  }
  &:not(:has([hidden]))::after {
    display: none;
  }
}

.main {
  --bg: #3d85c6ff;
  --p: 0.305in;

  box-sizing: border-box;
  padding: var(--p);

  width: 100%;
  height: 100%;

  z-index: 1;

  > * {
    margin-inline: auto;
  }
}

.input, .textarea, .select {
  position: relative;
  --p-i: 2vw;
  padding-inline: var(--p-i);

  width: 100%;
  &:not(:is(.input-parent, .textarea-parent, .select-parent) > :is(.input, .textarea, .select)) {
    aspect-ratio: 8 / 1;
  }

  background-color: black;
  color: white;

  border-radius: 10px;
  border: solid 3px white;
  outline: none;

  .label {
    position: absolute;
    top: 1.5vh;
    left: 1vw;
    font-size: 2.5vw;
    line-height: 0;
  }
  &[required] .label .star {
    color: red;
  }
  &.normal {
    font-size: 1lh;
    line-height: calc(1vh*8);
  }
}

.input-parent, .textarea-parent, .select-parent {
  --p-i: 4vw;
  --s-w: calc(100% - var(--p-i)*2 - 3px);
  --b-r: 10px;
  --b-w: 3px;

  position: relative;
  box-sizing: border-box;

  width: 100%;
  aspect-ratio: 8 / 1;

  background-color: black;
  color: white;

  border-radius: var(--b-r);
  border: solid var(--b-w) white;
  outline: none;

  font-size: 4vh;
  
  z-index: 1;

  .label {
    --t-time: 0.5s;
    --skew: 10deg;
    position: absolute;
    top: 50%;
    padding: calc(var(--p-i)/4) calc(var(--p-i));
    border: inherit;
    /* border-bottom: none; */
    color: inherit;
    display: inline-block;
    line-height: 1;
    user-select: none;
    -webkit-user-select: none;
    transform: skewX(calc(-1*var(--skew)));
    transition: 
      padding var(--t-time) ease-in-out, 
      border var(--t-time) ease-in-out, 
      background-color var(--t-time) ease-in-out, 
      transform var(--t-time) ease-in-out, 
      font-size var(--t-time) ease-in-out
    ;
    & > span {
      display: inline-block;
      transform: skewX(var(--skew));
    }
  }
  &:is(:not([open], :has(:is(input, textarea, select):focus)), :has(.hasInput)) .label {
    translate: 0 -50%;
    font-size: inherit;
    border-color: transparent;
    cursor: text;
  }
  &:is([open], :has(:is(input, textarea, select):focus)) .label {
    transform: 
      translateY(calc(-50% - 6vh))
      skewX(calc(-1*var(--skew)))
      ;
    font-size: 1em;
    left: var(--p-i);
    padding-inline: calc(var(--p-i)/2);
    background-color: inherit;
    z-index: 2;
    @media (prefers-reduced-motion) {
      & {
        display: none;
        transition: none;
        transform: none;
        font-size: 0lh;
        z-index: -1;
      }
    }
  }
  &:has([required]) .label .star {
    color: red;
  }
  &.normal {
    font-size: 1lh;
    line-height: calc(1vh*8);
  }
  & :is(input, textarea, select) {
    border-radius: calc(var(--b-r) - var(--b-w));
    width: calc(var(--s-w) + var(--b-w));
    height: calc(100% - var(--b-w)/2);
    padding-inline: var(--p-i);
    background-color: inherit;
    border: none;
    outline: none;
    color: white;
    font-size: inherit;
    font-family: inherit;
  }
}

.select {
  position: relative;
  &:not(.open) {
    overflow: hidden;
    & select-options {
      top: 0 !important;
      translate: 0 calc((-100%)/var(--amt)*var(--num));
      & select-option:first-child {
        color: lightgray;
      }
    }
  }
  &:has(select) {
    padding-inline: 0;
  }
  &:has(select-options) {
    width: var(--s-w);
    padding-inline: 0;
    cursor: pointer;
  }
  &.open {
    & select-options {
      border: solid 3px white;
      translate: -3px 0;
      overflow: hidden;
      & select-option {
        &:first-child:hover {
          color: white;
        }
        &:hover {
          background-color: gray;
        }
      }
    }
  }
  & select-options {
    z-index: 2;
    border-radius: inherit;
    position: absolute;
    top: calc(100% + 1vh);
    left: 0;
    width: 100%;
    background-color: inherit;
    color: inherit;
    display: grid;
    grid-template-rows: repeat(var(--amt), 1fr);
    & select-option {
      padding-inline: var(--p-i);
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;
      &[disabled] {
        color: lightgray;
      }
    }
  }
}

.select select {
  border: none;
  color: inherit;
  background: inherit;
  position: inherit;
  &.normal {
    font-size: inherit;
    line-height: inherit;
  }
}

link {
  cursor: pointer;
}