.main {
  border-radius: 10px;
  // background-image: url('/assets/gMaps.png');
  // background-size: cover;
  // background-position-x: 97%;
  // background-repeat: no-repeat;
}

#myMap {
  position: relative;
  width: 100%;
  height: 100%;
}