$border-size: 2px;
$border: solid #{$border-size} var(--color);
$hf-size: 3.5rem;

// Inputs
$p-i: 1rem;
$s-w: calc(100% - #{$p-i*2} - $border-size);
$b-r: 10px;

// Input Labels
$t-time: 0.5s;
$skew: 10deg;

// Colors
$lbg: #3d85c6;
$lclr: white;
$lacc: black;

$dbg: #333;
$dclr: white;
$dacc: #3d85c6;