---
import '../styles/pages/book.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="Book Online">
  <div class="select normal" onclick="openSelection(this)">
    <select-options>
      <select-option disabled selected>Choose an agency</select-option>
      <select-option type="bus">SamTrans</select-option>
      <select-option type="train">Caltrain</select-option>
      <select-option type="bus">VTA</select-option>
      <select-option type="bus">Muni</select-option>
      <select-option type="train">BART</select-option>
      <select-option type="bus">AC Transit</select-option>
      <select-option type="bus">County Connection</select-option>
      <select-option type="bus">Tri Delta Transit</select-option>
      <select-option type="bus">Golden Gate Transit</select-option>
    </select-options>
  </div>
  <div class="select normal" type="fare" for="bus" onclick="openSelection(this)" hidden>
    <select-options>
      <select-option disabled selected>Choose an fare</select-option>
      <select-option>Student Fare: $1.50</select-option>
      <select-option>Regular Fare: $2.50</select-option>
    </select-options>
  </div>
  <div class="select normal" type="fare"] for="train"onclick="openSelection(this)" hidden>
    <select-options>
      <select-option disabled selected>Choose an fare</select-option>
      <select-option>Student Fare: $5.00</select-option>
      <select-option>Regular Fare: $7.50</select-option>
    </select-options>
  </div>
</Layout>