---
import '../styles/pages/tracker.scss'
import '../styles/pages/directions.scss'

import Layout from '../layouts/Layout.astro'
import DirectionsScript from '../scripts/directions.astro'

var classItems = ['full']

return Astro.redirect('/landing')
---
<Layout title="Map / Directions" classItems={classItems}>
    <section class="directions-container">
        <div class="stops-area">
            <div class="stops">
                <div class="stop-container">
                    <div class="stop-parent">
                        <input class="stop" placeholder="Stop #1" title="Stop #1">
                        <button class="close removeStyles">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="options"></div>
                </div>
                <div class="stop-container">
                    <div class="stop-parent">
                        <input class="stop" placeholder="Stop #2" title="Stop #2">
                        <button class="close removeStyles">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="options"></div>
                </div>
            </div>
            <div class="stop-toolbar">
                <button class="add-stop">Add Stop</button>
                <button class="calc-route">Go</button>
            </div>
        </div>
        <div id="directions"></div>
    </section>
    <div id="myMap"></div>
</Layout>

<DirectionsScript />