---
import '../styles/page.scss'
import '../styles/tracker.scss'
import '../styles/directions.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['page']
---
<Layout title="Map / Directions" classItems={classItems}>
  <section class="main">
    <section class="directions-container">
      <div id="directions"></div>
    </section>
    <div id="myMap"></div>
  </section>
  <script src="/scripts/page.js" is:inline></script>
  <script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkMdzF1Q7JCJCXj3415UZvH4JYRCJihZ_W7JEOnpx6eH5Hwtt1qie1LQqIrJ7-jS" async defer is:inline></script>
  <script src="/scripts/tracker.js" is:inline></script>
  <script src="/scripts/directions.js" is:inline></script>
  <script src="/scripts/eruda.js" is:inline></script>
</Layout>