---
import '../styles/page.scss'
import '../styles/directions.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['page']
---
<Layout title="Map / Directions" classItems={classItems}>
  <section class="main">
    <div class="img"></div>
    <div class="info"></div>
  </section>
  <script src="/scripts/page.js" is:inline></script>
  <script src="/scripts/directions.js" is:inline></script>
  <!-- <script src="/scripts/eruda.js" is:inline></script> -->
</Layout>