---
import '../styles/pages/tracker.scss'
import '../styles/pages/directions.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['full']
---
<Layout title="Map / Directions" classItems={classItems}>
  <section class="directions-container">
    <div class="stops-area">
      <div class="stops">
        <div class="stop-parent">
          <input class="stop" title="Stop #1">
        </div>
        <div class="stop-parent">
          <input class="stop" title="Stop #2">
        </div>
      </div>
      <div class="stop-toolbar">
        <button class="add-stop">Add Stop</button>
        <button class="calc-route">Go</button>
      </div>
    </div>
    <div id="directions"></div>
  </section>
  <div id="myMap"></div>
  <script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkMdzF1Q7JCJCXj3415UZvH4JYRCJihZ_W7JEOnpx6eH5Hwtt1qie1LQqIrJ7-jS" async defer is:inline></script>
  <script src="/scripts/tracker.js" is:inline></script>
  <script src="/scripts/directions.js" is:inline></script>
</Layout>