---
import '../styles/pages/tracker.scss'
import '../styles/pages/directions.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['full']
var scripts = [
  {
    name: 'directions'
  }
  ]
---
<Layout title="Map / Directions" classItems={classItems} scripts={scripts}>
  <section class="directions-container">
    <div class="stops-area">
      <div class="stops">
        <div class="stop-container">
          <div class="stop-parent">
            <input class="stop" placeholder="Stop #1" title="Stop #1">
            <button class="close removeStyles">
              <img src="/icons/close.svg" alt="X Icon">
            </button>
          </div>
          <div class="options"></div>
        </div>
        <div class="stop-container">
          <div class="stop-parent">
            <input class="stop" placeholder="Stop #2" title="Stop #2">
            <button class="close removeStyles">
              <img src="/icons/close.svg" alt="X Icon">
            </button>
          </div>
          <div class="options"></div>
        </div>
      </div>
      <div class="stop-toolbar">
        <button class="add-stop">Add Stop</button>
        <button class="calc-route">Go</button>
      </div>
    </div>
    <div id="directions"></div>
  </section>
  <div id="myMap"></div>
</Layout>