---
import '../styles/pages/404.scss'

import Layout from '../layouts/Layout.astro'

---
<Layout title="404">
  <div class="container">
    <h1>Coming Soon</h1>
    <p>I am working on something great (or nothing at all). Please check back soon.</p>
  </div>
</Layout>