---
import '../styles/pages/landing.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['full']
---
<Layout title="Coming Soon" classItems={classItems}>
  <h2>Work in Progress</h2>
  <div class="container">
    <p>The first version of this app was a first prototype, which I have had no time in the recent months to spend any reasonable time on.</p>
    <p>As such, I have decided to remove usage of the partiafunctibrokappesque experience.</p>
    <small>(Yes that is "partially functional, broken, and app-esque" because the app was partially functional, broken, and app-esque (not a fully ready app).)</small>
    <p>I am working on something great (or nothing at all). Please check back soon.</p>
  </div>
</Layout>