---
import '../styles/pages/login.scss'

import Page from '../layouts/Page.astro'

---
<Page title="Login">
  <img class="logo" src="/assets/logo.svg">
  <div class="inputs">
    <div class="input-parent">
      <label for="email" class="label">
        <span>Email <span class="star">*</span></span>
      </label>
      <input type="text" id="email" required pattern="*@*.*">
    </div>
    <div class="input-parent">
      <label for="password" class="label">
        <span>Password <span class="star">*</span></span>
      </label>
      <input type="password" id="password" required>
    </div>
  </div>
  <div class="btns">
    <button class="btn">Login Help</button>
    <button class="btn" id="login" onclick="login()">Sign In</button>
  </div>
  <script is:inline>
    var queryString = window.location.search; 
    var urlParms = new URLSearchParams(queryString); 
    var page = urlParms.get('page') || 'tracker'; 
    
    function login() { goToPage(page) }
  </script>
</Page>