---
import '../styles/menu.scss'
import '../styles/pages/more.scss'

import Page from '../layouts/Page.astro'

---
<Page title="More">
  <nav class="menu">
    <item>View All Alerts</item>
    <item>Transit Cards</item>
    <item>Set Reminder</item>
    <item>Predict Fare</item>
    <item>Change Location</item>
    <item>Change Preferred Routes</item>
    <item>Report an Error</item>
  </nav>
</Page>