---
import '../styles/menu.scss'
import '../styles/pages/more.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="More">
  <nav class="menu">
    <item>View All Alerts</item>
    <item>Transit Cards</item>
    <item>Set Reminder</item>
    <item>Predict Fare</item>
    <item>Change Location</item>
    <item>Change Preferred Routes</item>
    <item>Report an Error</item>
  </nav>
</Layout>