---
import '../styles/page.scss'
import '../styles/menu.scss'
import '../styles/more.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['page']
---
<Layout title="More" classItems={classItems}>
<section class="main">
  <nav class="menu">
    <item>View All Alerts</item>
    <item>Transit Cards</item>
    <item>Set Reminder</item>
    <item>Predict Fare</item>
    <item>Change Location</item>
    <item>Change Preferred Routes</item>
    <item>Report an Error</item>
  </nav>
</section>
<script src="/scripts/page.js" is:inline></script>
<script src="/scripts/more.js" is:inline></script>
<script src="/scripts/eruda.js" is:inline></script>
</Layout>