---
import '../styles/page.scss'
import '../styles/menu.scss'
import '../styles/notifications.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['page']
---
<Layout title="Notifications" classItems={classItems}>
  <section class="main">
    <div class="notifications"></div>
  </section>
  <script src="/scripts/page.js" is:inline></script>
  <script src="/scripts/notifications.js"></script>
  <!-- <script src="/scripts/eruda.js" is:inline></script> -->
</Layout>