---
import '../styles/menu.scss'
import '../styles/pages/notifications.scss'
import NotificationsScript from '../scripts/notifications.astro'

import Layout from '../layouts/Layout.astro'

return Astro.redirect('/tracker')
---
<Layout title="Notifications">
    <section class="main">
        <div class="notifications"></div>
    </section>
</Layout>

<NotificationsScript />