<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Notifications</title>
    <link href="/styles/page.css" rel="stylesheet" type="text/css" />
    <link href="/styles/menu.css" rel="stylesheet" type="text/css" />
    <link href="/styles/notifications.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="page">
    <section class="main">
      <div class="notifications"></div>
    </section>
    <script src="/scripts/page.js"></script>
    <script src="/scripts/notifications.js"></script>
    <script src="/scripts/eruda.js"></script>
  </body>
</html>