---
import '../styles/menu.scss'
import '../styles/pages/notifications.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="Notifications">
  <section class="main">
    <div class="notifications"></div>
  </section>
  <script src="/scripts/notifications.js" is:inline></script>
</Layout>