---
import '../styles/page.scss'
import '../styles/menu.scss'
import '../styles/notifications.scss'
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Notifications</title>
  </head>
  <body class="page">
    <section class="main">
      <div class="notifications"></div>
    </section>
    <script src="/scripts/page.js"></script>
    <script src="/scripts/notifications.js"></script>
    <script src="/scripts/eruda.js"></script>
  </body>
</html>