---
import '../styles/menu.scss'
import '../styles/notifications.scss'

import Page from '../layouts/Page.astro'
---
<Page title="Notifications">
  <section class="main">
    <div class="notifications"></div>
  </section>
  <script src="/scripts/notifications.js" is:inline></script>
</Page>