---
import '../styles/page.scss'
import '../styles/menu.scss'
import '../styles/settings.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['page']
---
<Layout title="Settings" classItems={classItems}>
<section class="main">
  <nav class="menu">
    <item>Change Language</item>
    <item>Account Info</item>
    <item>Payment Info</item>
    <item>Notification Settings</item>
    <item>Privacy Info</item>
    <item>Your Data</item>
  </nav>
</section>
<script src="/scripts/page.js"></script>
<script src="/scripts/settings.js"></script>
<script src="/scripts/eruda.js"></script>
</Layout>