---
import '../styles/menu.scss'
import '../styles/pages/settings.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="Settings">
  <section class="main">
    <nav class="menu">
      <item>Change Language</item>
      <item>Account Info</item>
      <item>Payment Info</item>
      <item>Notification Settings</item>
      <item>Privacy Info</item>
      <item>Your Data</item>
    </nav>
  </section>
</Layout>