---
import '../styles/page.scss'
import '../styles/menu.scss'
import '../styles/settings.scss'
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Settings</title>
  </head>
  <body class="page">
    <section class="main">
      <nav class="menu">
        <item>Change Language</item>
        <item>Account Info</item>
        <item>Payment Info</item>
        <item>Notification Settings</item>
        <item>Privacy Info</item>
        <item>Your Data</item>
      </nav>
    </section>
    <script src="/scripts/page.js"></script>
    <script src="/scripts/settings.js"></script>
    <script src="/scripts/eruda.js"></script>
  </body>
</html>