---
import '../styles/tracker.scss'

import Page from '../layouts/Page.astro'
---
<Page title="Map / Live Tracker">
  <section class="main">
    <div id="myMap"></div>
  </section>
  <script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkMdzF1Q7JCJCXj3415UZvH4JYRCJihZ_W7JEOnpx6eH5Hwtt1qie1LQqIrJ7-jS" async defer is:inline></script>
  <script src="/scripts/tracker.js" is:inline></script>
</Page>