---
import '../styles/pages/tracker.scss'

import Layout from '../layouts/Layout.astro'
import TrackerScript from '../scripts/tracker.astro'

var classItems = ['full']

---
<Layout title="Map / Live Tracker" classItems={classItems}>
    <div id="myMap">
        <nav class="custom-nav"></nav>
    </div>
    <div id="hiddenDirections"></div>
    <div class="vehicle-info-container custom-popup-container"></div>
</Layout>

<TrackerScript />
