---
import '../styles/pages/tracker.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['full']

var headItems = [
  '<script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkMdzF1Q7JCJCXj3415UZvH4JYRCJihZ_W7JEOnpx6eH5Hwtt1qie1LQqIrJ7-jS" async defer is:inline></script>', 
  '<script src="/scripts/tracker.js" is:inline></script>'
]
---
<Layout title="Map / Live Tracker" classItems={classItems} headItems={headItems}>
  <div id="myMap"></div>
  <script src="/scripts/transitData.js" is:inline></script>
</Layout>