---
import '../styles/pages/tracker.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['full']
var scripts = [
  {
    name: 'tracker'
  }
]
---
<Layout title="Map / Live Tracker" classItems={classItems} scripts={scripts}>
  <div id="myMap">
    <nav class="custom-nav">
      <h1>HELLO</h1>
    </nav>
  </div>
  <div id="hiddenDirections"></div>
  <script is:inline>
    setTimeout(() => {
      if (document.querySelector('.custom-nav')) alert(document.querySelector('.custom-nav > h1').textContent)
      else alert(document.querySelector('.custom-nav'))
    }, 5000)
  </script>
</Layout>