---
import '../styles/pages/tracker.scss'

import Layout from '../layouts/Layout.astro'

var classItems = ['full']
---
<Layout title="Map / Live Tracker" classItems={classItems}>
  <div id="myMap"></div>
  <script src="/scripts/transitData.js" is:inline></script>
</Layout>